body {
  /* background: linear-gradient(-45deg, #ee8e70, #e66496, #5db6d6, #52dcbb); */
  margin: 0;
  color: black;
}

/* 
  
  @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  } */

.header {
  border: 2px solid black;
  top: 0;
  background-color: black;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header-img {
  /* border: 2px solid blue; */
  margin: 10px;
}

.nav-link {
  /* border: 2px solid red; */
  width: max-content;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  position: relative;
  font-weight: bold;
 
  /* right: 30px; */
}

.nav-link-text{
  font-family: sans-serif;
  color: white;
}

@media screen and (max-width: 400px) {
  .header {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    /* display: flex;
    flex-direction: column; */
    margin: 10px;
  }
  
}

.rest {
  padding: 20px;
  margin-top: 120px;
  border: 2px solid yellow;
}

@media screen and (max-width: 400px) {
  .rest{
    
    margin-top: 200px;
    border: 2px solid red;
  }
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub2 {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-self: center;
  justify-self: center;
}

.mail {
  /* border: 2px solid blue; */
  display: flex;
  gap: 20px;
  align-self: center;
  justify-self: center;
}

.submit {
  /* border: 2px solid blue; */
  display: flex;

  align-self: center;
  justify-self: center;
}

.text-info {
  color: #000 !important;
}

#vid {
  /* display: flex; */
  /* border: 1px solid black; */
  justify-content: center;
}

.products {
  display: flex;
  justify-content: center;
}

.prodsec {
  display: flex;
  border: 2px solid blue;
  width: 70vw;
  height: 300px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}

.prod1 {
  display: flex;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
}
.prod2 {
  display: flex;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
}
.prod3 {
  display: flex;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
}
