body {
  background: linear-gradient(-45deg, #e97a58, #d14d80, #3a8aa7, #2aaa8c);
  margin: 0;
  
}

.header {
  /* border: 2px solid black; */
  top: 0;
  background-color: black;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header-img {
  /* border: 2px solid blue; */
  margin: 10px;
}

.nav-link {
  /* border: 2px solid red; */
  width: max-content;
  margin: 10x;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  position: relative;
  font-weight: bold;
 
  /* right: 30px; */
}

.nav-link-text{
  font-family: 'Righteous', cursive;
  font-weight: lighter;
  font-size: 1.1em;
  color: white;
}

@media screen and (max-width: 420px) {
  .header {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    
  }

  .nav-link {
    /* display: flex;
    flex-direction: column; */
    margin: 10px;
    overflow: auto;
  }

  
}

.rest {
  padding: 30px;
  margin-top: 90px;
  /* border: 2px solid yellow; */
  overflow: auto;
}

@media screen and (max-width: 420px) {
  .rest{
    margin-top: 150px;
    /* border: 2px solid red; */
  }
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub2 {
  border: 4px solid white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-self: center;
  justify-self: center;
}

.mail {
  /* border: 2px solid blue; */
  display: flex;
  gap: 20px;
  align-self: center;
  justify-self: center;
  color: white;
}

.submit {
  /* border: 2px solid blue; */
  display: flex;

  align-self: center;
  justify-self: center;
}

.text-info {
  color: white !important;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
.products {
  display: flex;
  justify-content: center;
}

 .prodsec {
  display: flex;
  border: 2px solid blue;
  width: 70vw;
  height: 300px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}

.prod1 {
  display: flex;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
}
.prod2 {
  display: flex;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
}
.prod3 {
  display: flex;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
} */

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}